<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894303583156-rajkmpqmvchjco6bafdl2ku5jf9let02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894303583156-rajkmpqmvchjco6bafdl2ku5jf9let02</string>
	<key>API_KEY</key>
	<string>AIzaSyD1SkulqqjtB8Q74L5p9oACzs15bQpi7nM</string>
	<key>GCM_SENDER_ID</key>
	<string>894303583156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.biggestask</string>
	<key>PROJECT_ID</key>
	<string>the-biggest-ask</string>
	<key>STORAGE_BUCKET</key>
	<string>the-biggest-ask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894303583156:ios:6df352b986aaebfdc090e1</string>
</dict>
</plist>